aiohttp
cf-xarray>=0.3.1,<=0.8.4; python_version == '3.8'
cf-xarray>=0.3.1; python_version >= '3.9'
cftime
dask[complete]>=2.6
fsspec
netCDF4>=1.4
numpy>=1.16
python-dateutil>=2.8.1
xarray>=0.15
zarr
zstandard
